FRONTEND_URL          =

JWT_SECRET            =

MONGO_DATABASE_NAME   =
MONGO_DATABASE_PORT   =
MONGO_INIT_USERNAME   =
MONGO_INIT_PASSWORD   =
DATABASE_URL          =

GCP_PROJECT_ID        =
GCP_PRIVATE_KEY_ID    =
GCP_PRIVATE_KEY       =
GCP_CLIENT_EMAIL      =
GCP_MULTIMEDIA_BUCKET =

AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_REGION=your_aws_region
AWS_S3_BUCKET_NAME=your_bucket_name

AWS_SES_USER=ses_user
AWS_SES_PASSWORD=ses_password

SMTP_HOST             =
SMTP_PORT             =
MAILER_USER           =
MAILER_PASSWORD       =